<%= form_for(@question) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body, :id => "need_preview" %>
  <div id="preview">
  </div>
	<%= f.text_field :tag_list, :autocomplete => autocomplete_tag_name_questions_path %>
    <%= f.submit %>
<% end %>
