<%= div_for show_question do %>
<div class="status">
	<div class="vote">
		<div class="number">
			<%= to_k show_question.votes_trend %>
		</div>
		<div class="owner">投票</div>
	</div>
	<% if show_question.answer_id !=0 %>
	<div class="answer exist">
	<% elsif show_question.answers.count >0 %>
	<div class="answer pending">
	<% else %>
	<div class="answer none">
	<% end -%>
		<div class="number">
			<%= to_k show_question.answers.count %>
		</div>
		<div class="owner">答案</div>
	</div>
	<div class="view">
		<div class="number">
			<%= to_k show_question.views %>
		</div>
		<div class="owner">浏览</div>
	</div>
</div>
<div class="summary">
	<div class="title">
		<%= link_to show_question.title, show_question %>
	</div>
	<div class="user">
		<%= link_to show_question.user.profile.real_name, show_question %>
		<span class="reputation"><%= to_k show_question.user.profile.reputation %></span>
	</div>
	<div class="tags">
		<%= render :partial => "other/show_tag", :collection => show_question.tag_list %>
	</div>
</div>
<% end %>