<%= div_for show_question do %>
<!-- js load -->
<div class="stats-block">
	<div class="stats">
		<%= vote_block show_question %>
		<%= answer_block show_question %>
	</div>
	<%= view_block show_question %>
</div>
<!-- js load end -->
<div class="summary-block">
	<h3><%= link_to show_question.title, show_question %></h3>
	<div class="excerpt">
		<%= safe_html_out_for truncate(show_question.body, length=120) %>
	</div>
	<div class="tags">
		<%= render :partial => "other/show_tag", :collection => show_question.tag_list %>
	</div>
	<div class="user_card">
		<div style="float:left;font-size:13px;color:gray;">ask <%= time_ago_in_words show_question.created_at %> ago</div>
		<div style="clear:both"></div>
		<%= render :partial => 'other/user_card', :locals => {:user_card => show_question.user} %>
	</div>
</div>
<% end %>