<h3><%= @question.title %></h3>
<div class="block block-top radius-block radius-block-top border-box">
	<div class="left-block">
		<%= render :partial => 'other/vote_module', :locals => {:whose => @question} %>
		<%= render :partial => 'other/favourite_module', :locals => {:whose => @question} %>
	</div>
	<div class="right-block">
		<div class="mainwords">
			<%= safe_html_out_for(@question.body) %>
		</div>
		<%= render :partial => 'other/comments_module', :locals => {:whose => @question} %>
	</div>
</div>
<div class="block radius-block-bottom border-box">
	<div class="left-block">
	</div>
	<div class="right-block small-font">
		<%= link_to '回答', new_question_answer_path(@question), :remote => true %>
		<% if can? :edit, @question %>
			<%= link_to '编辑', edit_question_path(@question) %>
		<% end %>
		<div class="versions">
			<%= euler @question.version %>
		</div>
	</div>
</div>
<div class="kid-block radius-block border-box">
	<%= render :partial => 'other/user_info', :locals => {:user => @question.user} %>
</div>
<div id="create-answer" style="display:none">
	<div class="block radius-block border-box block-margin">
		<%= render :partial => @answer = Answer.new %>
	</div>
</div>
<div style="clear:both"></div>
<!-- Answers start -->
<h3><span id="answers-count"><%= to_k @question.answers.count %></span> 个答案</h3>
<div id="answers">
	<%= render :partial => "answers/show_answer", :collection => @question.answers.sort {|a,b| ([b.correct,b.votes_trend] <=> [a.correct,a.votes_trend])}%>
</div>