<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Body:</b>
	<%= sanitize @question.body, :tags => %w(h1 h2 h3 h4 h5 h6 p a img br span table th tr td b), :attributes => %w(id class style href src width height) %>
</p>

<% if can? :update, @question %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to "Rollback", :version => @question.version-1 %> <span class="e"><%= pi @question.version %></span>
