<h2><%= @question.title %></h2>
<div class="pop">
	<div class="votes_trend">
		<%= @question.votes_trend %>
	</div>
	<div class="body">
		<%= safe_html_out_for(@question.body) %>
	</div>
	<div class="toolbar">
		<%= link_to 'Vote Up', {:controller => :votes, :action => :vote_up, :voteable => 'question', :id => @question.id} %>
		<%= @question.votes_for %>
		<%= link_to 'Vote Down',{:controller => :votes, :action => :vote_down, :voteable => 'question', :id => @question.id} %>
		<%= @question.votes_against %>
		<% if can? :edit, @question %>
			<%= link_to 'Edit', edit_question_path(@question) %>
		<% end %>
	</div>
</div>

