<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Body:</b>
	<%= safe_html_out_for(@question.body) %>
</p>

<% if can? :edit, @question %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to "Rollback", :version => @question.version-1 %> <span class="e"><%= pi @question.version %></span>
<%= render :partial => "comments/show_comment", :collection => @question.comments %>
<%= render :partial => "comments/comment", :locals => {:commentable => "question", :id => @question.id} %>
<div id="answers">
	<%= render :partial => "answers/show_answer", :collection => @question.answers %>
</div>
<%= render :partial => @answer = Answer.new %>

