<tr id="comment_<%= show_comment.id %>" class="comment">
	<td><%= render :partial => 'other/vote_module', :locals => {:whose => show_comment} %></td>
	<td><%= show_comment.body %> – <%= link_to show_comment.user.profile.display_name, show_comment.user %> – <%= show_comment.created_at.strftime('%l:%M %p %v') %></td>
	<td><%= link_to '举报', {:controller => :flags, :action => :flag, :user_id => current_user.id, :who => show_comment.class.name, :id => show_comment.id}, :confirm => '确定要举报此问题吗？', :remote => true %></td>
</tr>