<div class="user_info">
	<div class="avatar">
		<%= image_tag user.gravatar_url(:size => 40) %>
	</div>
	<div class="detail-info">
		<div class="user_name">
			<%= link_to user.profile.real_name, user %>
		</div>
		<div class="putation">
			<%= user.profile.reputation %><span class="putation_name">RP</span>
			<%= user.profile.money %><span class="putation_name">MP</span>
		</div>
		<div class="metal">
			<%= user.badges.where("metal = ?","金").count %> 
			<%= user.badges.where("metal = ?","银").count %> 
			<%= user.badges.where("metal = ?","铜").count %>
		</div>
	</div>
</div>