<td>昵称</td><%= @profile.display_name %><br/>
<td>真实姓名</td><%= @profile.real_name %><br/>
<td>年龄</td><%= @profile.age %><br/>
<td>性别</td><%= @profile.gender %><br/>
<td>个人主页</td><%= @profile.website %><br/>
<td>地址</td><%= @profile.location %><br/>
<td>学校</td><%= @profile.school %><br/>
<td>关于我</td><%= @profile.about_me %><br/>
<td>M</td><%= @profile.money %><br/>
<td></td><%= @profile.reputation %>
<% @profile.attributes.each do |key,value| %>
	<%= "#{key}--------------------#{value}" %><br/>
	<% end -%>