<%= div_for show_answer do %>
<% if show_answer.id == show_answer.question.answer_id %>
<div class="block block-top radius-block radius-block-top border-box select-answer">
<% else %>
<div class="block block-top radius-block radius-block-top border-box">
<% end -%>
	<div class="left-block">
		<%= render :partial => 'other/vote_module', :locals => {:whose => show_answer} %>
		<% if show_answer.question.answer_id ==0 %>
			<% if current_user.id == show_answer.question.user_id %>
			<div class="correct-answer" id="correct-answer-<%= show_answer.id %>">
				<%= link_to '', correct_url(:question_id => show_answer.question.id, :correct_id => show_answer.id), :remote => true, :class => "correct" %>
			</div>
			<% end %>
		<% else %>
			<% if show_answer.question.answer_id == show_answer.id %>
				<div class="correct-on"></div>
			<% end %>
		<% end %>
	</div>
	<div class="right-block">
		<div class="mainwords">
			<%= safe_html_out_for(RedCloth.new(show_answer.body).to_html) %>
		</div>
		<%= render :partial => 'other/comments_module', :locals => {:whose => show_answer} %>
	</div>
</div>
<% if show_answer.id == show_answer.question.answer_id %>
<div class="block radius-block-bottom border-box margin select-answer">
<% else %>
<div class="block radius-block-bottom border-box margin">
<% end -%>
	<div class="left-block">
	</div>
	<div class="right-block small-font">
		<% if can? :edit, show_answer %>
			<%= link_to '编辑', [:edit,@question,show_answer] %>
			<%= link_to '举报', {:controller => :flags, :action => :flag, :user_id => current_user.id, :who => show_answer.class.name, :id => show_answer.id}, :confirm => '确定要举报此答案吗？', :remote => true %>
		<% end %>
		<div class="versions">
			<%= euler show_answer.version %>
		</div>
	</div>
</div>
<div class="kid-block radius-block border-box">
	<%= render :partial => 'other/user_info', :locals => {:user => show_answer.user} %>
</div>
<% end %>